<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA6bPOVOBKRk2p9zz3ShxnawAAAAACAAAAAAAQZgAAAAEAACAAAABCtEWc+jDx3ongYyoam9K3Kop9j2U2Yh8+JGh9savCiAAAAAAOgAAAAAIAACAAAAAPGttp+pmpegIg71tLHJRS+iSe4JusLxM0ju3IfftFhjAAAABHx4K5r8yRz7Fnhjb1hbDBVdL+3AL8/Qt9O+tr62lUvbm5dy1Vj/WtRKPGzOAzSwVAAAAAtfBitrAMxFDoSHPUcZtfEbJBLvUYlvb1ZAFp3PeWV8dhoxYmLB5yH5InbgwaDjw9dXpNH42Zkfbdc4X8+y/fIg==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA6bPOVOBKRk2p9zz3ShxnawAAAAACAAAAAAAQZgAAAAEAACAAAAAdLh+G8jkjCQvZ2ZNiaPdOXtJIZczIQYJT0vvh1JmSVwAAAAAOgAAAAAIAACAAAACdbZGvtfanVV2jGxr8UH2RQf9oN9Q+ow6c53En7h/IIDAAAADMLgqyBOE0xZBl23DKB4jz+MmPoV5j+4INp5zO2sMADR93tFAyof8bxbwfhdd8JSpAAAAA4ylH1ZuOQlaybSiQiMRrgwiqdpmSelOJSZ8R2Xy1ks46Rx0GZ41oaAC0GxXMVMFm79APXCDJLDNiFGC+vDCUWw==" />
  </apikeys>
</configuration>